<div class="col_9 omega">
  <div class="sign-up-form-left">
    <div class="field-wrapper">

    <!--div class="field-wrapper">
      <div><%= f.label :code %></div>
      <%= f.text_field :code %>
    <div><%= link_to 'Get your code', registrations_invite_path, :class => 'invite-link' %></div>
    </div-->
  </div>

</div>
<div class="col_9 omega">
  <div class="sign-up-form-right">

    <div class="field-wrapper">
      <div><%= f.label :zip %></div>
      <%= f.text_field :zip %></div>
  </div>
</div>
<div class="col_24 omega">
  <!--div class="field-wrapper agree-checkbox left-margin">
    <%= f.check_box :subscribed %>
    <div>Updates/tips/ride recommendations</div>
  </div>
  <div class="field-wrapper agree-checkbox left-margin">
    <input id="terms-and-cond-checkbox" type="checkbox">

    <div>Agree to "privacy policy" and "terms and conditions"</div>
  </div-->
</div>
<div class="col_24 omega"><%= f.submit "Continue", :class => "sign-up-form-submit" %></div>
