<div class="devise-form-container">
  <div class="col_3"></div>
  <div id="restore-div" class="col_18">
    <div class="sign-div-wrapper col_24">
      <div class="restore-form-title"><h2>Change your password</h2></div>
      <div class="col_9 omega">
        <div class="restore-form-left">
          <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :put}) do |f| %>
              <%= devise_error_messages! %>
              <%= f.hidden_field :reset_password_token %>

              <div><%= f.label :password, "New password" %>
                <br/>
                <%= f.password_field :password, :autofocus => true %></div>

              <div><%= f.label :password_confirmation, "Confirm new password" %>
                <br/>
                <%= f.password_field :password_confirmation %></div>

              <div><%= f.submit "Change my password", :class => "change-pass-form-submit" %></div>
          <% end %>
        </div>
      </div>
      <div class="restore-vertical"></div>
      <div class="col_9 omega">
        <div class="restore-form-right">
          <%= render 'devise/shared/account_buttons' %>
        </div>
      </div>
    </div>
  </div>
</div>
