<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @premium_plan.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @premium_plan.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @premium_plan.price %>
</p>

<p>
  <strong>Period:</strong>
  <%= @premium_plan.period %>
</p>
<p>
  <strong>Label:</strong>
  <%= @premium_plan.label %>
</p>
<%= link_to 'Edit', edit_premium_plan_path(@premium_plan) %> |
<%= link_to 'Back', premium_plans_path %>
